.select-button-options {
  position: absolute;
  top: calc(100% + 8px);

  min-height: 400px;
  min-width: 300px;

  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 8px 12px;
      cursor: pointer;

      &:hover {
        background-color: #facf01;
      }
    }
  }

  .filter-bar {
    display: flex;
    padding: 8px;

    border-bottom: 1px solid #e0e0e0;

    .filter-chip {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 2px 4px;
      margin: 4px;
      border: 1px solid #cccccc;
      background-color: #e5e5e5;
      font-size: 10px;
      font-weight: 600;

      border-radius: 4px;
    }
    .filter-input {
      flex-grow: 1;
      border: none;
      padding: 4px;
      font-size: 14px;
      outline: none;
    }
  }
}
