button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
  height: 34px;

  &.primary {
    background-color: #facf01;
    color: black;

    &:hover {
      background-color: #fad001d8;
    }
  }

  &.secondary {
    background-color: transparent;
    color: #00e1ff;

    &:hover {
      background-color: #00e1ff1a;
    }
  }

  &.tertiary {
    background-color: transparent;
    color: #555555;

    &:hover {
      color: #101010;
    }
  }

  &.destructive {
    background-color: transparent;
    color: #ff4d4f;

    &:hover {
      background-color: #ff4d4f1a;
    }
  }

  &.tab-button {
    background-color: transparent;
    color: #555555;
    border-bottom: 2px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

    &:hover {
      color: #3c3c3c;
    }

    &.active {
      border-bottom: 2px solid #facf01;
      font-weight: 600;
    }
  }
}
