button {
  background-color: #f9f9fd;
  border: 1px solid #d7d7d7;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 2px;
  color: #838383;
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  height: 34px;

  &.selected {
    color: #000000;
  }
}

button:hover {
  background-color: #f0f0f0;
}
