
  button {
    background-color: #e5e5e5;
    border: 1px solid #cccccc;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px;
    color: #838383;
    display: flex;
    align-items: center;
    gap: 8px;

    height: 40px;


    &.selected {
      color: #000000;
    }
  }

  button:hover {
    background-color: #f0f0f0;
  }
