.select-button-options {

  .filter-buttons {
    display: flex;
    gap: 8px;

    justify-content: space-around;
    border-bottom: 1px solid #e0e0e0;
  }

  position: absolute;
  top: calc(100% + 8px);
  min-height: 350px;
  min-width: 300px;

  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 8px 12px;
      cursor: pointer;

      &:hover {
        background-color: #facf01;
      }
    }
  }
}
