.step-title {
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .step-name-input {
    border: none;
    font-weight: 600;
    font-size: 14px;
    padding: 4px;
  }
}
